# --- Python ---
__pycache__/
*.py[cod]
*.so
*.pyd

# --- Virtual Environment ---
venv/
.venv/
env/

# --- Data / Model Files ---
data/raw_data
!data/raw_data/README.md
data/cleaned_data
!data/cleaned_data/README.md
model/saved_model
!model/saved_model/README.md
results/reporting
!results/reporting/README.md
*.json
*.parquet
*.csv

# --- Logs ---
*.log
logs/
checkpoints/

# --- Config ---
config/settings.yaml

# --- IDE Files ---
.vscode/

# --- Pytest ---
.pytest_cache/