data:
  task_1:
    description: "Fetch ICD-10 codes and discharge notes from MIMIC-IV for classification. Cleaned data should have base preprocessing"
    query: >
      SELECT h.subject_id, h.hadm_id, n.text AS discharge_note, ARRAY_AGG(h.icd_code) AS icd_codes
      FROM `physionet-data.mimiciv_3_1_hosp.diagnoses_icd` AS h
      JOIN `physionet-data.mimiciv_note.discharge` AS n 
        ON (h.subject_id = n.subject_id) AND (h.hadm_id = n.hadm_id)
      WHERE h.icd_version = 10
      GROUP BY h.subject_id, h.hadm_id, n.text
    data_path: data/raw_data/classification_data.parquet
    tokenized_path: data/cleaned_data/classification_dataset
    temp_tokenized_path: data/cleaned_data/temp_classification_dataset
  
  task_2:
    description: "Fetch top 5,000 ICD codes for classification. This query does not require preprocessing, as it is used to filter query from task_1 only"
    query: >
      SELECT icd_code, COUNT(*) AS count
      FROM `physionet-data.mimiciv_3_1_hosp.diagnoses_icd`
      WHERE icd_version = 10
      GROUP BY icd_code
      ORDER BY count DESC
      LIMIT 5000
    data_path: data/raw_data/code_freq_data.parquet
    temp_data_path: data/raw_data/temp_code_freq_data.parquet
    label_map_path: data/cleaned_data/code_label_map.json
  
  task_3:
    description: "Fetch ~10,000 random discharge notes for summarization. Cleaned data should have base preprocessing, along extracted real/synthetic summaries and associated tags."
    query: >
      SELECT text AS discharge_note
      FROM `physionet-data.mimiciv_note.discharge`
      WHERE MOD(ABS(FARM_FINGERPRINT(CAST(note_id AS STRING))), 100) < 33
    model: google/bigbird-pegasus-large-pubmed
    data_path: data/raw_data/summarization_data.parquet
    real_data_path: data/cleaned_data/real_dataset
    synthetic_data_path: data/cleaned_data/synthetic_dataset
    real_summary_path: data/cleaned_data/real_summary_dataset
    synthetic_summary_path: data/cleaned_data/synthetic_summary_dataset
    clean_path: data/cleaned_data/summarization_dataset.parquet
    tokenized_path: data/cleaned_data/summarization_dataset_tokenized

  task_4:
    description: "Data related to intent targeting for classification/summarization. Can use portion of base data from task_3."
    data_path: data/raw_data/intent_data.parquet
    tokenized_path: data/cleaned_data/intent_dataset_tokenized
  
  task_5:
    description: "Data related to code encoder for classification task. Contains 'code: description' style data."
    data_path: data/raw_data/icd10cm_codes_2026.txt
    tokenized_path: data/clean_path/code_dataset_tokenized
    label_description_path: data/cleaned_data/code_desc_map.json
    label_embeddings_path: model/saved_model/class_label_embeds/label_embeddings.pt
  
  classification_test_data: data/test_data/classification_test_data
  classification_test_data_temp: data/test_data/classification_test_data_temp
  summarization_test_data: data/test_data/summarization_test_data

model:
  classification_checkpoint: dmis-lab/biobert-large-cased-v1.1
  summarization_checkpoint: GanjinZero/biobart-v2-large
  intent_checkpoint: distilbert/distilbert-base-uncased

  classification_model: model/saved_model/ft-biobert-large
  classification_model_temp: model/saved_model/temp-ft-biobert-large
  classification_training_checkpoints: model/saved_model/ft-biobert-large-checkpoints
  classification_training_checkpoints_temp: model/saved_model/temp-ft-biobert-large-checkpoints

  summarization_training_checkpoints: model/saved_model/ft-biobart-large-checkpoints
  summarization_model: model/saved_model/ft-biobart-large

  intent_training_checkpoints: model/saved_model/ft-distilbert-base-checkpoints
  intent_model: model/saved_model/ft-distilbert-base

results:
  classification_w_code: results/reporting/classification_w_code
  classification_w_code_LORA_16: results/reporting/classification_w_code_LORA_16
  classification_w_code_w_MLP: results/reporting/classification_w_code_w_MLP
  classification_w_code_w_MLP_LORA_a_32: results/reporting/classification_w_code_MLP_LORA_a_32
  classification_w_code_IA3: results/reporting/classification_w_code_IA3
  classification_w_code_LORA_High_Cap: results/reporting/classification_w_code_LORA_High_Cap
  classification_w_code_Larger_MLP_w_Dropout: results/reporting/classification_w_code_Larger_MLP_w_Dropout
  classification_w_code_MoE: results/reporting/classification_w_code_MoE
  classification_w_code_MoE_8_experts: results/reporting/classification_w_code_MoE_8_experts
